# Authenticate & Example API Call (geocode)
An example of authenticating using UMICH license and performing a basic geocode operation using the Python API.

Requires:

- ArcGIS Pro installed
- Logged into ArcGIS Pro using organization account (UMICH)
- ArcGIS Pro does not need to be running; your authentication just has to not have expired.

## Import required modules

In [2]:
# ArcGIS Python module
import arcpy
import pandas as pd

# Modules for geocoding related processes
import urllib.request, json
import requests

# ArcGIS packages
from arcgis.gis import GIS
from arcgis.geocoding import get_geocoders, batch_geocode, geocode
gis = GIS('pro')

## EDA of Data

### Read & Eaxmine Data
Using the Tecumseh, MI data from OpenAddresses data set (midwest data set).

In [5]:
df_mi_tecumseh = pd.read_csv("./example-data/city_of_tecumseh.csv")
df_mi_tecumseh.head()

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH
0,-83.930694,42.020842,4587.0,MACON RD,NaN,NaN,NaN,NaN,NaN,NaN,0f1d71c71bb84f25
1,-83.931370,42.020581,952.0,MACON RD,NaN,NaN,NaN,NaN,NaN,NaN,e063eaa401c7e1d5
2,-83.932255,42.020563,944.0,MACON RD,NaN,NaN,NaN,NaN,NaN,NaN,c6b1c6f444a0684c
3,-83.933133,42.020526,940.0,MACON RD,NaN,NaN,NaN,NaN,NaN,NaN,83e2941141f61fba
4,-83.935600,42.020365,700.0,MACON RD BLK,NaN,NaN,NaN,NaN,NaN,NaN,40ffdb3c081d2003

### Add state variable with default value

In [9]:
df_mi_tecumseh['State'] = "MI"
df_mi_tecumseh.head()

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH,State
0,-83.930694,42.020842,4587.0,MACON RD,NaN,NaN,NaN,NaN,NaN,NaN,0f1d71c71bb84f25,MI
1,-83.931370,42.020581,952.0,MACON RD,NaN,NaN,NaN,NaN,NaN,NaN,e063eaa401c7e1d5,MI
2,-83.932255,42.020563,944.0,MACON RD,NaN,NaN,NaN,NaN,NaN,NaN,c6b1c6f444a0684c,MI
3,-83.933133,42.020526,940.0,MACON RD,NaN,NaN,NaN,NaN,NaN,NaN,83e2941141f61fba,MI
4,-83.935600,42.020365,700.0,MACON RD BLK,NaN,NaN,NaN,NaN,NaN,NaN,40ffdb3c081d2003,MI